#aboutBox{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#btnCloseAbout{
	margin-top: 10px;
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
}
#splash{
	background-color: #4fc3fc;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.btnSplash{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;
	height: 35px;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	border:1px solid #fff;
	color: #fff;
	border-radius: 5px;
	display: none;
}
#splashBtnCon{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#userGuide{
	font-size: 18px;
	z-index: 998;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(250,245,250);
}
.headBar{
    background-color: #5bc0de;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    box-shadow: 2px 2px 2px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#menuScreen{
	width: 0%;
	height: 100%;
	padding-top: 5px;
    box-shadow: 1px 1px 10px #999;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
    background-image: url(../image/launcher_icon.png);
    background-size: 50%;
    background-position: center 60px;
    background-repeat: no-repeat;
    background-color: #fff;
}
#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.5;
	top: 0;
	right: 0;
	z-index: 900;
	display: none;
}
#btnCloseMenu{
	padding: 5px 10px;
	border-style: none;
	font-size: 25px;
	position: absolute;
	left: 0px;
	outline: none;
	background-color: #fff;
}
#dateString{
	padding: 8px;
	border: 1px solid #000;
	border-radius: 5px;
}
#btnMenu{
	float: right;
}
.stripe{
	width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}
.general{
	padding-top: 10px;
	z-index: 10;
}
.btnControls{
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
}
.btnControls:active{
	animation: example;
	animation-duration: 0.5s;
}
.planSelectBoxStyle{
	border: 1px solid #000;
	height: 35px;
	padding: 5px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 5px;
	outline: none;
}
.plus{
	border: 1px solid #000;
	font-size: 16px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #555;
	font-weight: bold;
	padding: 15px 15px; 
	text-align: center;
	position: fixed;
	bottom: 60px;
	right: 5px;
	border-radius: 5px;
	z-index: 12;
}
.plus:active{
	animation: example;
	animation-duration: 0.5s;
}
.barNavi{
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #000;
	background-color: #fff;
	z-index: 11;
}
.btnNavi{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}
.activeNavi{
	color: #5bc0de;
}
/* The animation code */
@keyframes example {
    0%   {background: radial-gradient(circle, #fff, #fff, #fff);}
    25%  {background: radial-gradient(circle, #fff, #ccc, #fff);}
    50%  {background: radial-gradient(circle, #ccc, #ddd, #fff);}
    75%  {background: radial-gradient(circle, #ddd, #eee, #fff);}
    100% {background: radial-gradient(circle, #eee, #fff, #fff);}
}
.btnNavi:hover{
	animation: example;
	animation-duration: 0.5s;
}
/* home-con start */
#expense_input_box{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#new_expense_amount{
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
#new_expense_date_time{
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
#new_expanse_category_select{
	width: 100%;
	height: 35px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
#new_expense_remark{
	resize: none;
	width: 100%;
	height: 35px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	margin-bottom: 5px;
}
#btn_new_expense_add , #btn_new_expense_cancel{
	width: 49%;
}
#failBox{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#successBox{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#okIfail , #okIWin {
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
}
/* home-con end */
/* category-con start */
.cat{
	padding: 10px;
	font-size: 18px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #555;
	border-radius: 5px;
	border: 1px solid #000;
	margin-bottom: 5px;	
}
.cat:hover{
	animation: cat-ani;
	animation-duration: 0.5s;
}
#category-input-box{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#category-option-box{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#category-confirm-box{
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#category-name{
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
.box_title{
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
#btnAddCategoryName , #btnCancelCategoryName{
	width: 49%;
}
#btnEditCategoryName , #btnDeleteCategoryName , #btnCancelCategoryOption , #btnYesCategoryName , #btnNoCategoryName{
	width: 100%;
	margin-bottom: 10px;
}
@keyframes cat-ani {
    0%   {background: #fff;}
    25%  {background: #eee;}
    50%  {background: #ddd;}
    75%  {background: #ccc;}
    100% {background: #ddd;}
}
/* category-con end */ 
/* paln-con start */
.plan{
	text-align: center;
	font-size: 18px;
	border: 1px solid #000;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
    box-shadow: 1px 1px 5px #000;
}
.plan_start_date{
	float: left;
}
.plan_end_date{
	float: right;
}
.plan_name{
	float: left;
	display: block;
	width: 100%;
	border-bottom: 1px solid #eee;
}

#create_new_plan_box{
	font-size: 16px;
	text-align: center;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}

#create_new_plan_box input{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
#create_new_plan_box input[type='button']{
	margin-bottom: 0px !important;
}
#create_new_plan_box input[type='button']:hover{
	animation: example;
	animation-duration: 0.5s;
}
#karamade{
	display: inline-block;
	width: 8%;
	text-align: center;
}
.dateInput{
	width: 46% !important;
}
#btnCreatPlan , #btnCancelPlan {
	width: 49%;
}
#op-option-box , #cp-option-box{
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 5%;
	background-color: #fff;
	border: 1px solid #eee;
	position: fixed;
	bottom: 0px;
	z-index: 901;
	display: none;
}
#btnAbortPlan , #btnPlanRemoveFromHistory , .btnCancelPlanOption{
	width: 100%;
	height: 35px;
	padding-left: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
}
.btnCancelPlanOption{
	margin-top: 10px;
}
/* paln-con end */
/* log-con start */
.log_expense_amount{
	float: right;
}
.log_expense_dateTime{
	text-align: right;
	font-size: 18px;
	padding: 0px;
	color: #333;
}
/* log-con end */
/*default setting*/
#category-con{
	display: none;
}
#plan-con{
	display: none;
}
#log-con{
	display: none;
}
/*default setting*/

/* bootstrap override */
.panel{
	margin-top: 10px;
	box-shadow: 1px 1px 1px #aaa;
	margin-bottom: 0px;
}
.panel-heading{
	font-size: 18px;
	color: #000 !important;
}
.panel{
	border-color: #555;
}
.panel-body{
	padding: 5px;
	text-align: center;
	font-size: 18px;
}

.align-left{
	text-align: left;
}
.progress-bar-info{
	background-color: #c8dce6;
	text-align: left;
	text-indent: 6px;
	color: #000;
}
.glyphicon{
	position: relative;
	top:4px;
}
.label{
	float: right;
}
.img{
	width: 100%;
	margin-top: 10px;
}
.list-group-item{
	font-size: 18px;
	text-align: center;
}
/* bootstrap override */